{% extends 'base.html' %}

{% block content %}
  <form method="get" action="{% url 'asset_search' portfolio.id %}">
        <input type="text" name="symbol" placeholder="Enter asset symbol" required>
        <button type="submit">Search</button>
    </form>

    {% if data %}
        <h2>Data for {{ symbol }}</h2>
        <ul>
            <li>Price: {{ data.price }}</li>
            <li>Open: {{ data.open }}</li>
            <li>High: {{ data.high }}</li>
            <li>Low: {{ data.low }}</li>
            <li>Volume: {{ data.volume }}</li>
        </ul>
  <form method="post" action="{% url 'asset_search' portfolio.id %}">
    {% csrf_token %}
      <input type="hidden" name="symbol" value="{{ symbol }}">
      <input type="hidden" name="price" value="{{ data.price }}">
      <label for="quantity">Quantity:</label>
      <input type="number" name="quantity" id="quantity" required min="1" step="1">
      <label for="date">Date:</label>
      <input type="date" name="date" id="date" required>
      <button type="submit">Add to Portfolio</button>
    </form>
    {% elif error %}
    <p>Error: {{ error }}</p>
    {% elif symbol %}
    <p>No data found for "{{ symbol }}"</p>
    {% endif %}
{% endblock %}