{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <h2 class="text-center mb-6">
                    {% if is_edit %} Edit Portfolio {% else %} Create Portfolio {% endif %}
                </h2>
                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-success w-100">{% if is_edit %} Update {% else %} Create {% endif %}</button>
                        <a href="{% url 'portfolio_list' %}" class="btn btn-outline-secondary w-100 mt-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
