{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3" style="max-width: 600px; margin: 0 auto;">
        <h2 class="m-0">List of Portfolios</h2>
        <a href="{% url 'portfolio_add' %}" class="btn btn-success"> Add New Portfolio</a>

    </div>

    <div class="mx-auto" style="max-width: 600px;">
        <ul class="list-group">
            {% for portfolio in portfolios %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'portfolio' portfolio.pk %}" class="text-decoration-none">{{ portfolio.name }}</a>
                <div>
                    <a href="{% url 'portfolio_edit' portfolio.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'portfolio_delete' portfolio.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
