{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <h2 class="text-center mb-4">Edit Transaction</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success w-100">Update</button>
                        <a href="{% url 'portfolio' portfolio.pk %}" class="btn btn-outline-secondary w-100 mt-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
