{% extends 'base.html' %}

{% block content %}
  <h2>Update user</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="previous_url" value="{{ previous_url }}">
    <button type="submit">Update</button>
    {% if request.session.last_portfolio_id %}
            <a href="{% url 'portfolio' request.session.last_portfolio_id %}">Cancel</a>
    {% else %}
            <a href="{% url 'portfolio_list' %}">Cancel</a>
    {% endif %}
  </form>
{% endblock %}